<div class="panel panel-default">

    {% if cnr.components.header %}
        <div class="panel-heading">
            {{ cnr.components.header | raw }}
        </div>
    {% endif %}

    {% if cnr.components.body %}
        <div class="panel-body">
            {{ cnr.components.body | raw }}
        </div>
    {% endif %}

    {% if cnr.components.footer %}
        <div class="panel-footer">
            {{ cnr.components.footer | raw }}
        </div>
    {% endif %}

</div>