<div class="panel panel-default">

    {% if cnr.header %}
        <div class="panel-heading">
            {{ cnr.header | raw }}
        </div>
    {% endif %}

    {% if cnr.body %}
        <div class="panel-body">
            {{ cnr.body | raw }}
        </div>
    {% endif %}

    {% if cnr.footer %}
        <div class="panel-footer">
            {{ cnr.footer | raw }}
        </div>
    {% endif %}

</div>