{#
 # ${FILE_NAME} description
 #
 # @author Panagiotis Vagenas <pan.vagenas@gmail.com>
 # @date 2015-11-18
 # @since TODO ${VERSION}
 # @copyright Copyright (c) 2015 Panagiotis Vagenas
 #}
<div class="tab-content">
    {% for tabId, tab in tabs %}

        <div role="tabpanel" class="tab-pane fade{% if tab.active %} active in{% endif %}" id="{{ tab.id | e('html_attr') }}">

            {% for panelId, panel in tab.panels %}
                {% include 'panels/panel-in-main.twig' %}
            {% endfor %}

        </div>

    {% endfor %}
</div>