{#
 # ${FILE_NAME} description
 #
 # @author Panagiotis Vagenas <pan.vagenas@gmail.com>
 # @date 2015-11-18
 # @since TODO ${VERSION}
 # @copyright Copyright (c) 2015 Panagiotis Vagenas
 #}
<ul class="nav nav-tabs" role="tablist">

    {% for tabId, tab in tabs %}

        <li role="presentation" class="{% if tab.isActive %}active{% endif %}">
            <a href="#{{ tabId | e('html_attr') }}"
               aria-controls="{{ tabId | e('html_attr') }}"
               role="tab" data-toggle="tab">
                {% if tab.icon %}
                    <span class="glyphicon glyphicon-{{ tab.icon | e('html_attr') }}" aria-hidden="true"></span>
                {% endif %}
                {{ tab.title }}
            </a>
        </li>

    {% endfor %}
</ul>