{#
 # ${FILE_NAME} description
 #
 # @author Panagiotis Vagenas <pan.vagenas@gmail.com>
 # @date 2015-11-19
 # @since TODO ${VERSION}
 # @copyright Copyright (c) 2015 Panagiotis Vagenas
 #}
{% spaceless %}

    <div class="form-group">

        <div class="col-sm-offset-2 col-sm-10">

            <button

                    {% if field.autofocus %}
                        autofocus
                    {% endif %}

                    {% if field.disabled %}
                        disabled
                    {% endif %}

                    {% block global_attributes %}
                        {% include 'fields/blocks/global_attributes.twig' %}
                    {% endblock %}

                    {% block input_attributes %}
                        {% include 'fields/blocks/attributes.twig' %}
                    {% endblock %}

                    {% block additional_attributes %}
                        {% include 'fields/blocks/additional_attributes.twig' %}
                    {% endblock %}

            >{{ field.label }}</button>

        </div>

    </div>

{% endspaceless %}