{#
 # ${FILE_NAME} description
 #
 # @author Panagiotis Vagenas <pan.vagenas@gmail.com>
 # @date 2015-11-19
 # @since TODO ${VERSION}
 # @copyright Copyright (c) 2015 Panagiotis Vagenas
 #}
{% spaceless %}
    <div class="form-group">
        {% if label %}
            <label for="{{ id | e('html_attr') }}" class="col-sm-2 control-label">{{ label | e }}</label>
            <div class="col-md-10">
        {% endif %}

        <select
            {% block global_attributes %}
                {% include 'fields/blocks/global_attributes.twig' %}
            {% endblock %}

            {% block input_attributes %}
                {% include 'fields/blocks/attributes.twig' %}
                {{ multiple }}
            {% endblock %}

            {% block additional_attributes %}
                {% include 'fields/blocks/additional_attributes.twig' %}
            {% endblock %}
        >
        {% for name, value in options %}
            {% if value is iterable %}
                {% set groupOptions = value %}
                {% include 'fields/cmp/optgroup.twig' %}
            {% else %}
                {% include 'fields/cmp/option.twig' %}
            {% endif %}
        {% endfor %}
        </select>

        {% if label %}
            </div>
        {% endif %}
    </div>
{% endspaceless %}