{#
 # ${FILE_NAME} description
 #
 # @author Panagiotis Vagenas <pan.vagenas@gmail.com>
 # @date 2015-11-18
 # @since TODO ${VERSION}
 # @copyright Copyright (c) 2015 Panagiotis Vagenas
 #}
<div class="wp-menu-pages-ns">
    <div class="container-fluid">
        {##
         # Page header
         #}
        <div class="page-header">
            {% include 'header.twig' %}
        </div>
        <div class="row">
            {##
             # Alerts
             #}
            <div class="col-md-12 alerts-wrapper">
                {% include 'alerts.twig' %}
            </div>
            {##
             # Main
             #}
            <div class="{% if aside %}col-md-8{% else %}col-md-12{% endif %}">
                {##
                 # Main content
                 #}
                <div class="panel panel-default">
                    {##
                     # Panel Heading used for tabs navigation.
                     #}
                    {# TODO If only one tab then things should be quite differrent hereafter #}
                    <div class="panel-heading" style="padding-bottom: 0; border-bottom: none;">
                        {% include 'tab/nav.twig' %}
                    </div>
                    {##
                     # Panel Body
                     #}
                    <div class="panel-body">
                        {% include 'tab/content.twig' %}
                    </div>
                    {##
                     # Panel Footer
                     # Here are the controls for each tab's form. These should include save, reset etc.
                     # Also they should be tab specific controls and global controls like save all options.
                     #}
                    <div class="panel-footer">
                        <div class="row">
                            {%include 'socials.twig' %}
                            {% include 'controls.twig' %}
                        </div>
                    </div>
                </div>

            </div>

            {##
             # Sidebar
             #}
            {% if aside %}
                <div class="col-md-4">
                    {% include 'sidebar.twig' %}
                </div>
            {% endif %}
        </div>
    </div>
</div>