<div class="pull-right">
    <div class="col-md-12">
        <button type="reset" class="btn btn-md btn-warning btn-tab-reset-options">
            <i class="fa fa-history"></i>
        </button>
        <button type="submit" class="btn btn-md btn-primary btn-save-options">
            <i class="fa fa-floppy-o"></i>
        </button>
    </div>
</div>
