<h1>
    {{ page.title }}
    {% if page.subtitle %}
        <small>{{ page.subtitle }}</small>
    {% endif %}

    <div class="pull-right">
        <div class="col-md-12">
            <a type="reset" class="btn btn-md btn-warning btn-reset-options wp-menu-pages-control">
                <i class="fa fa-history"></i>
            </a>
            <a class="btn btn-md btn-success btn-export-options wp-menu-pages-control" href="">
                <i class="fa fa-download"></i>
            </a>
            <a class="btn btn-md btn-primary btn-import-options wp-menu-pages-control" href="">
                <i class="fa fa-upload"></i>
            </a>
            <input id="import-options-input" type="file" class="hidden" />
        </div>
    </div>
</h1>