<h1>
    {{ page.title }}
    {% if page.subtitle %}
        <small>{{ page.subtitle }}</small>
    {% endif %}

    <div class="pull-right">
        <div class="col-md-12">
            <a type="reset" class="btn btn-md btn-warning btn-reset-options">
                <i class="fa fa-history"></i>
            </a>
            <a class="btn btn-md btn-success btn-export-options" href="">
                <i class="fa fa-download"></i>
            </a>
            <a class="btn btn-md btn-primary btn-import-options" href="">
                <i class="fa fa-upload"></i>
            </a>
        </div>
    </div>
</h1>