{#
 # ${FILE_NAME} description
 #
 # @author Panagiotis Vagenas <pan.vagenas@gmail.com>
 # @date 2015-11-18
 # @since TODO ${VERSION}
 # @copyright Copyright (c) 2015 Panagiotis Vagenas
 #}
{% for sideBarId, sideBar in asside %}
    <div class="row sidebar-{{ sideBarId | e('html_attr') }}">
        <div class="col-md-12">
            {{ sidebar.getMarkUp() | raw }}
        </div>
    </div>
{% endfor %}