{#
 # ${FILE_NAME} description
 #
 # @author Panagiotis Vagenas <pan.vagenas@gmail.com>
 # @date 2015-11-18
 # @since TODO ${VERSION}
 # @copyright Copyright (c) 2015 Panagiotis Vagenas
 #}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for panelId, panel in asside.panels %}
        {% include 'panels/panel-in-sidebar.twig' %}
    {% endfor %}
</div>