<div class="socials pull-left">
    <div class="col-md-12">
    {% for socialId, social in socials %}
        <a class="btn btn-default" href="{{ social.link | e('html_attr') }}" target="_blank">
            <i class="fa fa-{{ social.icon | e('html_attr') }}" title="{{ social.name | e('html_attr') }}"></i>
        </a>
    {% endfor %}
    </div>
</div>