<div class="alert alert-{{ cmp.type | e('html_attr') }} {% if cmp.dismissible %}alert-dismissible fade in{% endif %}"
     role="alert">
    {% if cmp.dismissible %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    {% endif %}
    {{ cmp.content | raw }}
</div>