<a class="btn btn-default" href="{{ cmp.link | e('html_attr') }}" target="_blank">
    {% if cmp.icon %}
        <i class="fa fa-{{ cmp.icon | e('html_attr') }}" title="{{ cmp.title | e('html_attr') }}"></i>
    {% endif %}
    {{ cmp.title }}
</a>