{#
 # ${FILE_NAME} description
 #
 # @author Panagiotis Vagenas <pan.vagenas@gmail.com>
 # @date 2015-12-19
 # @since TODO ${VERSION}
 # @copyright Copyright (c) 2015 Panagiotis Vagenas
 #}
<form id="form-{{ cmp.id | e('html_attr') }}"
      class="form-horizontal"
      method="POST"
      action="#"
      enctype="multipart/form-data"
>

    {% for fieldId, fld in cmp.fields %}
        {% if fld.templateName %}
            {% include fld.templateName %}
        {% else %}
            {{ fld.markUp }}
        {% endif %}
    {% endfor %}

</form>

